::-webkit-scrollbar {
    width: 10px;
}
.Cars {
    display: flex;
    padding: 1em;
    overflow-y: scroll;
}

.Cars .carousel-dots {
    position: fixed;
    top: 80%;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0);
    justify-content: center;
}
.Cars .carousel-dots li {
    color: darkgray;
}
.Cars .carousel-dots li.activeIndex {
    color: black;
}
.Cars .carousel-dots li a {
    position: relative;
    left: -2em;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    cursor: pointer;
}
.Cars .navigationIcons {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 15%;
    right: 2%;
}
.Cars .navigationIcons li {
    cursor: pointer;
}
.Cars .navigationIcons li:nth-child(1) img {
    transform: rotate(180deg);
}
.Cars .navigationIcons li img {
    width: 50px;
}
.Cars .filter {
    width: 200px;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
